.ChatBotWrapper {
  width: 20vw;
  height: 30vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gAjHuO {
  background: #ebedef !important;
  box-shadow:  6px 6px 12px #c8c9cb, 
  -6px -6px 12px #ffffff !important;
}
.bVqtCY {
  display: none !important;
}
.lksEio {
  display: none !important;
}

.lgHoAf {
  height: calc(520px - 55px) !important;
}

.jNWOCB {
  display: none !important;
}

.VideoWrapper {
  width: 350px;
  height: 200px;
  background: black;
  color: white;
}