.SpaceTitle {
  font-size: 20em;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SpaceTitle2 {
  font-size: 5em;
  position: absolute;
  top: 60%;
  left: 53%;
  width: 40%;
  transform: translate(-50%, -50%);
}

canvas {
  margin: 0;
  padding: 0;
  outline: none;
}
