body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.4s;
  background-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.InputWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}
.Test1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: violet;
  border-radius: 20px;
  margin: 0 auto;
}

.ToggleWrapper {
  transform: scale(0.6);
  display: flex;
  vertical-align: middle;
  width: 80px;
  height: 50px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: inset 2.5px 2.5px 5px #c1b8ca, inset -2.5px -2.5px 5px #ede4f5;
}
.Toggle {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
}
.PP {
  position: absolute;
  z-index: 2;
  left: 25px;
  top: 25px;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #062dbc, -5px -5px 10px #083dfe;
}
h1 {
  color: white;
  font-weight: bold;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

p {
  color: white;
  margin: 0;
  font-weight: bold;
}

.LeftText {
  text-align: right;
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 25px;
  width: 250px;
  height: 100px;
}
.BottomText {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 25px;
  height: 125px;
  width: 250px;
}

.Wrapper {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.ListofToggle {
  position: absolute;
  right: 0px;
  bottom: -10px;
  transform: scale(0.8);
}

.DeleteWrapper {
  position: fixed;
  right: 100px;
  top: 10px;
}
.DeleteField {
  position: relative;
  width: 200px;
  height: 70px;
  border-radius: 25px;
  background-color: lightgrey;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.DeleteButton {
  width: 100px;
  height: 60px;
  margin: 5px 5px;
  border-radius: 20px;
  background: rgb(243, 96, 96);
}
#explanation {
  color: rgb(243, 96, 96);
  font-size: 12px;
  opacity: 0;
}

.LinksToPage {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.Main_Title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 8vw;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  text-align: center;
}
.anim_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.testAnim {
  width: 150px;
  height: 150px;
  border: solid 1px black;
  animation: 0.4s ease-in launch;
}

@keyframes launch {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
